<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>

<div class="navbar">
  <a routerLink="/home">Home</a>
  <a routerLink="/courses">Courses</a>
  <div class="dropdown">
    <button class="dropbtn">Settings 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a *ngIf = "hasLoggedUser"  routerLink="/profile">My Profile</a>
      <a *ngIf = "isAdmin"        routerLink="/users-manage">Users</a>
      <a *ngIf = "!hasLoggedUser" routerLink="/login">Login</a>
      <a *ngIf = "!hasLoggedUser" routerLink="/register">Register</a>
      <a *ngIf = "hasLoggedUser"  (click)="onLogout()">Logout</a>
    </div>
  </div> 
</div>


<div class = "main-container">
  <router-outlet></router-outlet>
</div>

</body>
</html>